@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
} */

html,
body {
  min-height: 100vh;
  height: 100%;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1024px) {
  .variable-width-hero-text {
    font-size: calc(
      24px + (50 - 28) * (100vw - 768px) / (2000 - 768)
    ) !important;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
